<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs')%>
</head>

<body>
    <header>
        <%- include('../includes/header.ejs')%>
    </header>
    <main>
        <div class="banner">
            <h1 class="fs70px fs-i-55px fs-m-40px fs-p-30px"><%= pageTitle %></h1>
        </div>
        <div class="page-section">
            <div class="flex-s-a">
                <div class="box-6 box-i-7 box-m-9 box-p-12">
                    <% if(errorMessage) { %>
                    <div class="tac tbold invalid-message"><%= errorMessage %></div>
                    <% } %>
                    <form class="page-form" action="/login" method="POST">
                        <input  class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>" type="email" placeholder="Insert your Email" name="email" required value="<%= oldInput.email %>">
                        <input class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" type="password" placeholder="Insert password" name="password" required value="<%= oldInput.password %>">
                        <button type="submit">Login <i class="fas fa-key"></i></button>
                        <p class="tac"><strong><a href="/signup">Create a new Account!</a></strong> | <strong><a href="/reset">Reset Password</a></strong></p>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../includes/footer.ejs')%>
    </footer>
</body>

</html>