<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs')%>
</head>

<body>
    <header>
        <%- include('../includes/header.ejs')%>
    </header>
    <main>
        <div class="banner">
            <h1 class="fs70px fs-i-55px fs-m-40px fs-p-30px"><%= pageTitle %></h1>
        </div>
        <div class="page-section">
            <div class="flex-s-a">
                <div class="box-6 box-i-7 box-m-9 box-p-12">
                    <% if(errorMessage) { %>
                    <div class="tac tbold invalid-message"><%= errorMessage %></div>
                    <% } %>
                    <form class="page-form" action="/new-password" method="POST">
                        <input type="password" placeholder="Insert new password" name="password" required>
                        <button type="submit">Change Password! <i class="fas fa-key"></i></button>
                        <input type="hidden" name="userId" value="<%= userId %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../includes/footer.ejs')%>
    </footer>
</body>

</html>