<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs')%>
</head>

<body>
    <header>
        <%- include('../includes/header.ejs')%>
    </header>
    <main>
        <div class="banner">
            <h1 class="fs70px fs-i-55px fs-m-40px fs-p-30px"><%= pageTitle %></h1>
        </div>
        <div class="page-section">
            <div class="flex-s-a">
                <div class="box-6 box-i-7 box-m-9 box-p-12">
                    <form class="page-form" action="/signup" method="POST">
                        <% if(errorMessage) { %>
                            <div class="tac tbold invalid-message"><%= errorMessage %></div>
                            <% } %>
                        <input type="text" placeholder="Insert your Name" name="uName" required value="<%= oldInput.uName %>">
                        <input class="<%= validationErrors.find(e => e.param === 'email') ?  'invalid' : '' %>" type="email" placeholder="Insert your Email" name="email" required value="<%= oldInput.email %>">
                        <input class="<%= validationErrors.find(e => e.param === 'password') ?  'invalid' : '' %>" type="password" placeholder="Insert password" name="password" required id="password" value="<%= oldInput.password %>">
                        <input class="<%= validationErrors.find(e => e.param === 'confirmPassword') ?  'invalid' : '' %>" type="password" placeholder="Confirm password" name="confirmPassword" required id="confirmPassword" value="<%= oldInput.confirmPassword %>">
                        <button type="submit" id="registerBtn" class="btn-disable" disabled>Signup <i class="fas fa-door-open"></i></button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <script>
            const originPassword = document.getElementById('password');
            const repeatPassword = document.getElementById('confirmPassword');
            originPassword.addEventListener('keyup', HabilitarRegistro);
            repeatPassword.addEventListener('keyup', HabilitarRegistro);

            function HabilitarRegistro() {
                var originPassword = document.getElementById("password").value;
                var repeatPassword = document.getElementById("confirmPassword").value;
                var boton = document.getElementById("registerBtn");
                if ((originPassword == repeatPassword) && originPassword != "" && repeatPassword != "" && originPassword.length > 4) {
                    boton.removeAttribute("disabled");
                    boton.classList.remove("btn-disable");
                } else {
                    boton.disabled = true;
                    boton.classList.add("btn-disable");
                }
            }
        </script>
        <%- include('../includes/footer.ejs')%>
    </footer>
</body>

</html>