<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head.ejs')%>
</head>

<body>
    <header>
        <%- include('includes/header.ejs')%>
    </header>
    <main>
        <div class="banner">
            <h1 class="fs70px fs-i-55px fs-m-40px fs-p-30px"><%= pageTitle %></h1>
        </div>
        <div class="page-section">
            <% if (bookList.length > 0) {%>
                <h1 class="fs40px">Our Book</h1>
                <p class="tac tbold mt15px mb15px">List of all available Books</p>
                <div class="flex-s-a">
                <% for (let book of bookList) { %>
                    <div class="box-4 book-box hover-shadow">
                        <div class="icon-ctnr">
                            <i class="fas fa-book"></i>
                        </div>
                        <h1 class="product__title"><%=book.BookName%></h1>
                        <p class="product__title"><i class="fas fa-barcode"></i> <%=book.BookISBN%></p>
                        <p class="product__title"><i class="fas fa-pencil-alt"></i> <%=book.BookAuthor%></p>
                        <p class="product__title"><i class="fas fa-calendar-week"></i> <%=book.BookPublishYear%></p>
                        <form action="/admin/remove-book" method="POST">
                            <button class="btn">Remove User</button>
                            <input type="hidden" value="<%= book.BookISBN%>" name="BookToDelete">
                        </form>
                    </div>
                <% } %>
            </div>
                <% }  else {%>
                <h1>No Products Found!</h1>
                <% }%>
        </div>
    </main>
    <footer>
        <%- include('includes/footer.ejs')%>
    </footer>
</body>

</html>