<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs')%>
</head>

<body>
    <header>
        <%- include('../includes/header.ejs')%>
    </header>
    <main>
        <div class="banner">
            <h1 class="fs70px fs-i-55px fs-m-40px fs-p-30px"><%= pageTitle %></h1>
        </div>
        <div class="page-section cart-ctnr">
            <% if (products.length > 0) { var TotalMoneySum = 0;%>
            <% products.forEach(p => { %>
            <div class="cart-row flex-s-b">
                <div class="left flex-vc p10px">
                    <p class="fs20px"><strong><%= p.productId.title %></strong></p>
                    <p><i class="fas fa-dollar-sign"></i> <strong>Price:</strong> $<%=p.productId.price%></p>
                    <p><i class="fas fa-barcode"></i> <strong>ISBN:</strong> <%=p.productId.isbn%></p>
                    <p><i class="fas fa-pencil-alt"></i> <strong>Author:</strong> <%=p.productId.author%></p>

                    <p><i class="fas fa-calendar-week"></i> <strong>Year:</strong> <%=p.productId.pyear%></p>
                
                    <p class="lh2em"><i class="fas fa-info"></i> <strong>Description:</strong> <%=p.productId.description%>
                    </p>
                </div>
                <div class="right minw200px">
                    <p class="tac fs40px">x <strong><%= p.quantity %></strong><br>($ <%= p.productId.price * p.quantity %> <%TotalMoneySum = TotalMoneySum + (p.productId.price * p.quantity) %>)</p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" value="<%= p.productId._id %>" name="productId">
                        <button class="btn" type="submit">Delete <i class="fas fa-trash"></i></button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                </div>
            </div>
            <% }) %>
            <form action="/create-order" method="POST">
                <h2 class="tac fs60px fs-i-50px fs-m-40px fs-p-30px mt15px mb15px">Total: $ <%= TotalMoneySum %></h2>
                <button class="btn" type="submit">Order Now! <i class="fas fa-shopping-bag"></i></button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
            <% } else { %>
            <h1>No Products in Cart!</h1>
            <% } %>
        </div>
    </main>
    <footer>
        <%- include('../includes/footer.ejs')%>
    </footer>
</body>

</html>